<div class="homepage-container">
    <!-- Landing page -->
    <div class="landing-page-container">
        <div class="stripes-container">
            <div id="stars"></div>
            <div id="stars2"></div>
            <!-- <div id="stars3"></div> -->
        </div>
        <div class="landing-page-content">
            <div class="landing-page-img-container">
                <img class="landing-page-img" src="../../../assets/startpage_img.jpg" alt="Homepage img">
            </div>
            <div class="landing-page-text-container">
                <div class="landing-page-text-content">
                    <h1>Eases Communicating</h1>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                        born
                        and I will give you a complete account of the system, and expound the actual teachings of the
                        great
                        explorer of the truth, the master-builder of human happiness.
                    </p>
                    <br>
                    <a class="submit-btn" href="#">Get started</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Landing page -->

    <!-- Get started -->
    <div id="get-started" class="get-started-container">
        <section class="wave-section">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </section>
        <div class="get-started-content">
            <div class="get-started-text">
                <h1>GET STARTED</h1>
                <p>Log in with your account to use Chatty! Do you not have an account? No problem! You can create one
                    for
                    free!
                    Get started and talk with your friends on Chatty!
                </p>
                <p>or</p>
                <button *ngIf="!showRegisterForm" (click)="showRegisterFormAction()" class="reg-btn outline-btn">Create
                    an account</button>
                <button *ngIf="showRegisterForm" (click)="showLoginFormAction()"
                    class="login-btn submit-btn">Login</button>
            </div>
            <div *ngIf="!showRegisterForm" class="get-started-login">
                <app-login></app-login>
            </div>
            <div *ngIf="showRegisterForm" class="get-started-register">
                <app-register></app-register>
            </div>
        </div>
    </div>
    <!-- Get started -->

    <!-- About us -->
    <div class="about-us-container">
        <div class="about-us-content">
            <div class="neumorphism-box">
                <h1>FREE</h1>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of the
                    great explorer of the truth, the master-builder of human happiness.
                </p>
            </div>
            <div class="neumorphism-box">
                <h1>FUN</h1>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of the
                    great explorer of the truth, the master-builder of human happiness.
                </p>
            </div>
            <div class="neumorphism-box">
                <h1>EASY TO USE</h1>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was
                    born and I will give you a complete account of the system, and expound the actual teachings of the
                    great explorer of the truth, the master-builder of human happiness.
                </p>
            </div>
        </div>
    </div>
    <!-- About us -->

    <!-- Contact me -->
    <div class="contact-me-container">
        <div class="contact-me-content">
            <div class="contact-me-img-container">
                <img class="contact-me-img" src="../../../assets/undraw_contact_us_15o2.svg" alt="Contact me img">
            </div>
            <div class="contact-me-form neumorphism-box">
                <h1>CONTACT ME</h1>
                <form autocomplete="off">
                    <label>Email:
                        <br>
                        <input>
                    </label>
                    <br><br>
                    <label>Title:
                        <br>
                        <input>
                    </label>
                    <br><br>
                    <label>Content:
                        <br>
                        <textarea rows="9"></textarea>
                    </label>
                    <br><br>
                    <button class="login-btn submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Contact me -->
</div>