<!-- Login container -->
<div class="login-container neumorphism-box">
    <h1>LOGIN</h1>
    <form [formGroup]="loginForm" autocomplete="off">
        <label>Username:
            <br>
            <input formControlName="username">
        </label>
        <br><br>
        <label>Password:
            <br>
            <input formControlName="password" type="password">
        </label>
        <br><br><br>
        <button (click)="login(loginForm.value)" class="login-btn submit-btn">Login</button>
        <p>or</p>
        <button class="reg-btn outline-btn">Create an account</button>
    </form>
</div>
<!-- Login container -->